.box { 
    width: 20px;
    height: 100px;
    border: 1px solid black;
    position: fixed;
    top: 50px;
    left: 150px;
    display: flex;
	flex-direction: column-reverse;
    /* background: linear-gradient(transparent 25%, transparent 25%, green 25%, green 23%,  red 8%, red 8%); */
    /* background: linear-gradient(to top, red 8%, transparent 92%); */
}
.green {
    background: green;
    height: 50%;
}
.red {
    background: red;
    height: 8%;
}